{% extends "base.html" %}

{% block content %}
<div style="text-align: center; color: rgb(0, 140, 255); margin: 20px;">
    <h1 style="margin-bottom: 50px; font-weight: 300;">Contact Details</h1>
</div>
<br/>
<p>Name: {{ contact.name }}</p>
<p>Email: {{ contact.email }}</p>
<p>Notes: {{ contact.note }}</p>
<p>created_time: {{ contact.created_time }}</p>
<br>
<a class="btn btn-info" href="{% url 'contact_list' %}" role="button">Home</a>
<a class="btn btn-secondary" href="{% url 'contact_update' contact.pk %}" role="button">Edit</a>
<a class="btn btn-warning" href="{% url 'contact_delete' contact.pk %}" role="button">Delete</a>

{% endblock content %}